.uv-level-labels {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 5px;
  font-size: 12px;
}

.uv-label {
  opacity: 0;
}

.uv-label.selected {
  opacity: 1;
  font-weight: 600;
  font-size: 15px;
}

.uv-level-colors {
  width: 90%;
  margin: auto;
  height: 6px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.uv-level-colors > div:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.uv-level-colors > div:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
