.search-error {
    display: flex;
    gap: 5px;
    color: #fff;
    margin-top: 10px;
}

.search-error_theme_night {
  color: #fff;
}

.search-error__icon {
  flex-shrink: 0;
}

.search-error__message {
  margin: 0;
}