.uv-index {
  background: var(--glass-background);
  color: var(--text-dark);
  backdrop-filter: var(--glass-blur);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.uv-index_theme_night {
  background: var(--glass-background-night);
  color: var(--text-light);
  box-shadow: var(--shadow-night);
}

.uv-index__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.uv-index__label {
  font-size: 0.9rem;
  opacity: 0.7;
}

.uv-index__value {
  font-size: 2rem;
  font-weight: 600;
}

.uv-index__description {
  font-size: 0.95rem;
  opacity: 0.8;
  margin-top: 18px;
}

/* ------------ UV LEVELS ------------ */

.uv-index__level-labels {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 5px;
  font-size: 12px;
}

.uv-index__level {
  opacity: 0;
}

.uv-index__level.uv-index__level_selected {
  opacity: 1;
  font-size: 15px;
}

.uv-index__level-colors {
  width: 90%;
  margin: auto;
  height: 6px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.uv-index__level-colors > div:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.uv-index__level-colors > div:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}