.explorer__container {
    padding: 100px;
    padding-inline: clamp(30px, 7vw, 94px);
    padding-bottom: 80px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.explorer__top {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.explorer__bottom {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.5rem;
}

.explorer__metrics {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explorer__metrics section {
    flex: 1;
}

.explorer__metrics-secondary {
    display: flex;
    gap: 18px;
}

.explorer__error-state-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorer__error-state {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.explorer__error-state-title {
    font-size: 28px;
    font-weight: 600;
    color: white;
}