.explorer-container {
    padding: 30px;
    padding-inline: clamp(30px, 7vw, 94px);
    padding-bottom: 80px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.explorer-top {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.explorer-bottom-section {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.5rem;
}

.extra-metrics {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.extra-metrics > * {
    flex: 1;
}