.hourly-forecast {
    box-sizing: border-box;
    background: var(--glass-background);
    color: var(--text-dark);
    backdrop-filter: var(--glass-blur);
    padding: 1rem;
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: var(--shadow);
}

.hourly-forecast.hourly-forecast_theme_night {
    background: var(--glass-background-night);
    color: var(--text-light);
    box-shadow: var(--shadow-night);
}

.hourly-forecast__carousel {
    flex: 1;
    min-width: 0;
    display: flex;
    gap: 12px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE */
}

.hourly-forecast__carousel::-webkit-scrollbar {
  display: none;
}

.hourly-forecast__button {
  position: absolute;
  z-index: 10;
  color: rgba(255, 255, 255, 0.541);
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.hourly-forecast__button:hover {
    color: white;
    scale: 120%;
    transition: all 200ms;
}

.hourly-forecast__button_position_left {
  left: -25px;
}

.hourly-forecast__button_position_right {
  right: -15px;
}

.hourly-forecast__card {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 8px;
    min-width: 100px;
}

.hourly-forecast__time {
    font-size: 14px;
}

.hourly-forecast__temperature {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}

.hourly-forecast__condition-icon {
    width: 30px;
    height: 30px;
}

.hourly-forecast__condition {
    font-size: 14px;
}

.hourly-forecast__precipitation {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.rain-icon {
    width: 22px;
    height: 22px;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .hourly-forecast__carousel {
        gap: 0;
    }

    .hourly-forecast__card {
        flex: 0 0 85px;
        gap: 5px;
        padding: 5px 0 0 0;
        min-width: 0;
    }

    .hourly-forecast__condition {
        display: none;
    }

    .hourly-forecast__temperature {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 0;
    }

    .hourly-forecast__precipitation {
        gap: 4px;
        font-size: 14px;
    }

    .rain-icon {
        width: 20px;
        height: 20px;
    }
}