.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 100%;
  max-width: 680px;

  border-radius: 999px;

  backdrop-filter: blur(25px);

  transition:
    transform 0.3s ease,
    background 0.3s ease,
    border-color 0.3s ease;
}

.search-bar.search-bar_variant_main {
  padding: 0.8rem 0.8rem 0.8rem 1.4rem;
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.199);

  border: 1px solid rgba(255, 255, 255, 0.12);

  box-shadow:
    0 10px 40px rgba(0, 0, 0, 0.25);
}

.search-bar.search-bar_variant_explorer {
  width: 300px;

  padding: 0.6rem 0.6rem 0.6rem 1rem;
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.06);

  border: 1px solid rgba(255, 255, 255, 0.308);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.171);
}

.search-bar.search-bar_variant_explorer-secondary {
  margin-top: 20px;
  max-width: 400px;

  padding: 1rem;

  padding-left: 1.5rem;

  background: rgba(255, 255, 255, 0.06);

  border: 1px solid rgba(255, 255, 255, 0.308);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.171);
}

.search-bar__input {
  flex: 1;
  min-width: 0;

  background: transparent;
  border: none;
  outline: none;

  color: white;

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.search-bar__input::placeholder {
  color: rgba(255, 255, 255, 0.55);
  font-weight: 400;
  letter-spacing: normal;
}

.search-bar__button {
  border: none;

  border-radius: 999px;

  padding: 0.9rem 1.4rem;

  background: rgba(255, 255, 255, 0.14);

  color: white;

  cursor: pointer;

  transition:
    background 0.3s ease,
    transform 0.3s ease;
}

.search-bar__button:hover {
  background: rgba(255, 255, 255, 0.22);

  transform: translateY(-1px);
}

.search-bar__button.search-bar__button_variant_explorer, .search-bar__button.search-bar__button_variant_explorer-secondary {
  padding: 0;
  padding-right: 6px;

  background: none;

  cursor: pointer;

  transition:
    background 0.3s ease,
    transform 0.3s ease;
}

.search-bar__button.search-bar__button_variant_explorer:hover, .search-bar__button.search-bar__button_variant_explorer-secondary:hover {
  background: none;
}

.search-bar:focus-within {
  border-color: rgba(255, 255, 255, 0.25);

  transform: translateY(-2px);
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .search-bar.search-bar_variant_explorer {
    width: 100%;
  }

  .search-bar.search-bar_variant_main {
    padding: 5px 5px 5px 20px;
  }
}