.daily-forecast {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    overflow: visible;
}

.daily-forecast-card {
    background: rgba(255, 255, 255, 0.568);
    padding: 10px;
    border-radius: 10px;
    min-width: 120px;
}