.weather-detail-card {
  background: var(--glass-background);
  color: var(--text-dark);
  backdrop-filter: var(--glass-blur);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.weather-detail-card_theme_night {
  background: var(--glass-background-night);
  color: var(--text-light);
  box-shadow: var(--shadow-night);
}

.weather-detail-card__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.weather-detail-card__label {
  font-size: 0.9rem;
  opacity: 0.7;
}

.weather-detail-card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
  flex-grow: 1;
  padding: 15px 6px;
}

.weather-detail-card__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weather-detail-card__value {
  font-size: 2rem;
  font-weight: 600;
}

.weather-detail-card__description {
  font-size: 0.95rem;
  opacity: 0.8;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .weather-detail-card__content {
    flex-direction: column;
    padding: 12px 0px;
  }

  .weather-detail-card__value {
    font-size: 24px;
    font-weight: 600;
  }
}