@import url("../vendor/fonts.css");

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: rgb(47, 0, 78);
}

#root {
  max-width: 100%;
  min-height: 100dvh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

main {
  flex: 1;
}