@import url("../vendor/fonts.css");

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: rgb(47, 0, 78);
}

#root {
  width: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

main {
  flex: 1;
}