.sun-times {
  background: var(--glass-background);
  color: var(--text-dark);
  backdrop-filter: var(--glass-blur);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.sun-times_theme_night {
  background: var(--glass-background-night);
  color: var(--text-light);
  box-shadow: var(--shadow-night);
}

.sun-times__label-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

.sun-times__label {
  line-height: 1.4;
}

.sun-times__value {
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
}

.sun-times__track {
  position: relative;
  width: 100%;
  height: 4px;
  background: rgb(255, 255, 255);
  border-radius: 999px;
}

.sun-times__sun-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sun-times__sun-animation {
  width: 45px;
}

.sun-times__moon-icon {
  display: flex;
  align-items: center;
  max-height: 140px;
  overflow: hidden;
}

.sun-times__moon-animation {
  width: 200px;
}

@media (max-width: 768px) {
  .sun-times__sun-animation {
    width: 35px;
  }

  .sun-times {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .sun-times_theme_day {
    padding-bottom: 35px;
  }

  .sun-times__label-wrapper {
    gap: 4px;
  }

  .sun-times__label-wrapper_type_sunrise {
    justify-self: start;
    padding-left: 20px;
  }

  .sun-times__label-wrapper_type_sunset {
    justify-self: end;
    padding-right: 20px;
  }

  .sun-times__value {
    font-size: 18px;
  }

  .sun-times__track,
  .sun-times__moon-icon {
    grid-column: 1 / -1;
    grid-row: 2;
    width: 100%;
    justify-self: stretch;
  }

  .sun-times__track {
    width: 92%;
    margin: auto;
  }
}